.footer-main {
  width: 100%;
  height: 180px;
  background-color: #efe2cf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer-logo {
  width: 200px;
  margin: 0 auto;
  mix-blend-mode: multiply;
}