.second-fotter {
  width: 100%;
  min-width: 800px;
  height: 180px;
  background-color: #ffa600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second-fotter-logo {
  width: 200px;
}