/* タブレット対応 */
@media (max-width: 1024px) {
  .header {
    margin-bottom: -50px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav__right {
    margin: 0 auto;
  }

  .nav__center {
    margin-bottom: 30px;
  }

  .logo_a {
    display:none;
  }

  .post-contents {
    margin-top: 30px;
  }

  .form-wrap {
    width: 80%;
  }

  .post-img {
    width: 100%;
    height: 100%;
  }

  .field_comment {
    width: 300px;
  }

  .comments_lists {
    width: 350px;
  }

}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 300px;
  }

  .form-wrap {
    width: 80%;
  }

  .posts-sell-contents {
    min-width: 425px;
  }

  .posts-sell-main {
    min-width: 425px;
  }

  .form-wrap {
    min-width: 425px;
  }

  .list {
    min-width: 425px;
  }

  .post-img-content-a {
    min-width: 415px;
  }

  .detail-table {
    min-width: 425px;
  }

}